<div id="team" class="section md-padding">

  <!-- Container -->
  <div class="container">

    <!-- Row -->
    <div class="row">

      <!-- Section header -->
      <div class="section-header text-center">
        <h2 class="title">Team MEAN MONKS</h2>
      </div>
      <!-- /Section header -->

      <!-- team -->
      <div class="width-box">
        <div class="team">
          <div class="team-img">
            <img class="img-responsive img-fluid" src="../../../assets/images/adarsh (2).jpg" alt="">
            <div class="overlay">
              <div class="team-social">
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="team-content">
            <h3>Adarsh Shirame</h3>
            <span>Engineer</span>
          </div>
        </div>
      </div>
      <!-- /team -->



      <!-- team -->
      <div class="width-box">
        <div class="team">
          <div class="team-img">
            <img class="img-responsive img-fluid" src="../../../assets/images/Premsai.jpg" alt="">
            <div class="overlay">
              <div class="team-social">
                <a href="#"><i class="fa fa-facebook"></i></a>
              </div>
            </div>
          </div>
          <div class="team-content">
            <h3>Premsai Kududula</h3>
            <span>Engineer</span>
          </div>
        </div>
      </div>
      <!-- /team -->


      <!-- team -->
      <div class="width-box">
        <div class="team">
          <div class="team-img">
            <img class="img-responsive img-fluid" src="../../../assets/images/alishaa.jpg" alt="">
            <div class="overlay">
              <div class="team-social">
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="team-content">
            <h3>Alisha</h3>
            <span>Engineer</span>
          </div>
        </div>
      </div>
      <!-- /team -->
              <!-- team -->
      <div class="width-box">
        <div class="team">
          <div class="team-img">
            <img class="img-responsive img-fluid" src="../../../assets/images/ankit.jpg" alt="">
            <div class="overlay">
              <div class="team-social">
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="team-content">
            <h3>Ankit Baranwal</h3>
            <span>Engineer</span>
          </div>
        </div>
      </div>
      <!-- /team -->

      <!-- team -->
      <div class="width-box">
        <div class="team">
          <div class="team-img">
            <img class="img-responsive img-fluid" src="../../../assets/images/sanjeev.jpg" alt="">
            <div class="overlay">
              <div class="team-social">
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>
          </div>
          <div class="team-content">
            <h3>Sanjeev Kumar</h3>
            <span>Engineer</span>
          </div>
        </div>
      </div>
    </div>

    <!-- /Row -->

  </div>
  <!-- /Container -->

</div>
<!-- /Team -->
